In [4]:
# finding golden cross

import pandas as pd

spy_df = pd.read_csv("SPY_close_price_5Y.csv", parse_dates = ["Date"])

spy_df.head()

        Date   Close
0 2020-11-02  330.20
1 2020-11-03  336.03
2 2020-11-04  343.54
3 2020-11-05  350.24
4 2020-11-06  350.16

In [6]:
spy_df.assign( # add new columns in existing dataframe.

    # adding moving average 50 column
    # d.close selects the closing price column
    # window --> average over 50 data points
    # d is just a placeholder name for the spy_df, could have written lambda df:
    moving_average_50 = lambda d: d.Close.rolling(window = 50, min_periods=50).mean(),

    # adding moving average 200 column
    moving_average_200 = lambda d: d.Close.rolling(window = 200, min_periods = 200).mean(),

    # lambda for golden cross
    golden_cross = lambda d: ((d.moving_average_50 > d.moving_average_200) & #short term MA is higher than long term MA 
                              # On the previous day (.shift(1)), the short-term average (MA50) was <= to MA200.
                              (d.moving_average_50.shift(1) <= d.moving_average_200.shift(1))).astype(int)
).query("golden_cross ==1")

           Date   Close  moving_average_50  moving_average_200  golden_cross
566  2023-02-02  416.78           394.3504           394.25025             1
1169 2025-07-01  617.65           583.0978           582.04155             1